body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.header {
  display: flex;
  justify-content: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  width: 550px;
  height: 550px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
}

.game-cell {
  display: flex;
  padding: 4px;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
